<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <style>
        .fg-line {
            margin-top: 7px;
        }

        #registration_form {
            border: 1px solid black;
            border-radius: 5px;
            padding-bottom: 10px;
            padding-left: 15px;
            background-color: #f0f0f0;
        }

        button {
            margin-top: 8px;
        }
    </style>
</head>
<body ng-app="myApp">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="about">About</a></li>
                    <li><a ui-sref="todolist">Show To Do List</a></li>
                    <li><a ui-sref="todolistandedit">Show To Do List and Edit</a></li>
                    <li><a ui-sref="states">Show Blogs</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/angular-local-storage.js"></script>
    <script src="~/Scripts/site/app.js"></script>
    <script src="~/Scripts/site/authService.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
